$primary-dark: #0038E1;
$primary: #295EFF;
$primary-light: #5583FF;
$primary-lighter: #A3B7F5;
$primary-background: #F5F7FF;
$primary-gradient: linear-gradient(135deg, $primary-light 0%, $primary 100%);