$primary-dark: #026353;
$primary: #03826D;
$primary-light: #00AB8D;
$primary-lighter: #9BD4CA;
$primary-background: #FAFFFE;
$primary-gradient: linear-gradient(135deg, $primary-light 0%, $primary 100%);