//
// Color schemes
//

// Color schemes - Grayscale
@import "color-system/grayscale";
// Color schemes - Brand
@import "color-system/brand-bch";
// Color schemes - Primary
@import "color-system/primary-bch";
// Color schemes - System messages
@import "color-system/success";
@import "color-system/info";
@import "color-system/warning";
@import "color-system/error";
// Color schemes - Backup Color
@import "color-system/backup-color";

// Colores base de bootstrap
$theme-colors: (
  "primary": $primary,
  "secondary": $brand,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $error,
  "light": $gray-white,
  "dark": $gray-dark,
);

// Colores minerva
$custom-colors: (
  "gray-dark": $gray-dark,
  "gray": $gray,
  "gray-light": $gray-light,
  "gray-lighter": $gray-lighter,
  "gray-background": $gray-background,
  "gray-white": $gray-white,
  "primary-dark": $primary-dark,
  "primary": $primary,
  "primary-light": $primary-light,
  "primary-lighter": $primary-lighter,
  "primary-background": $primary-background,
  "brand-dark": $brand-dark,
  "brand": $brand,
  "brand-light": $brand-light,
  "brand-lighter": $brand-lighter,
  "brand-background": $brand-background,
  "success-dark": $success-dark,
  "success": $success,
  "success-light": $success-light,
  "success-lighter": $success-lighter,
  "success-background": $success-background,
  "error-dark": $error-dark,
  "error": $error,
  "error-light": $error-light,
  "error-lighter": $error-lighter,
  "error-background": $error-background,
  "warning-dark": $warning-dark,
  "warning": $warning,
  "warning-light": $warning-light,
  "warning-lighter": $warning-lighter,
  "warning-background": $warning-background,
  "info-dark": $info-dark,
  "info": $info,
  "info-light": $info-light,
  "info-lighter": $info-lighter,
  "info-background": $info-background,
  "backup-yellow": $backup-yellow,
);

// Agrego los colores al tema
$theme-colors: map-merge($theme-colors, $custom-colors);
