@font-face {
    font-family: 'iconos_minerva';
    src:  url('https://d1gvdxiy3qlmms.cloudfront.net/uploads/000/021/832/31524c80-d9c3-49b3-8107-a5b9f86bc5d6/original/iconos_minerva.eot');
    src:  url('https://d1gvdxiy3qlmms.cloudfront.net/uploads/000/021/832/31524c80-d9c3-49b3-8107-a5b9f86bc5d6/original/iconos_minerva.eot') format('embedded-opentype'),
      url('https://d1gvdxiy3qlmms.cloudfront.net/uploads/000/021/833/f9aee7d7-02d2-45e9-a851-475517838539/original/iconos_minerva.ttf') format('truetype'),
      url('https://d1gvdxiy3qlmms.cloudfront.net/uploads/000/021/831/3b052c6a-f041-4a8f-a5d9-def1030164d0/original/iconos_minerva.woff') format('woff'),
      url('https://d1gvdxiy3qlmms.cloudfront.net/uploads/000/021/834/6f4b0d3a-9e6d-4fa1-8907-de424a1ee877/original/iconos_minerva.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icom-"], [class*=" icom-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconos_minerva' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icom-ayuda:before {
    content: "\a900";
  }
  .icom-contraste:before {
    content: "\a901";
  }
  .icom-lupa:before {
    content: "\a902";
  }
  .icom-productos:before {
    content: "\a903";
  }
  .icom-seguros:before {
    content: "\a904";
  }
  .icom-youtube:before {
    content: "\a905";
  }
  .icom-twitter:before {
    content: "\a906";
  }
  .icom-pdf:before {
    content: "\a907";
  }
  .icom-instagram:before {
    content: "\a908";
  }
  .icom-facebook:before {
    content: "\a909";
  }
  .icom-etiqueta:before {
    content: "\a90a";
  }
  .icom-descargar:before {
    content: "\a90b";
  }
  .icom-calendario:before {
    content: "\a90c";
  }
  .icom-arrow-up:before {
    content: "\a90d";
  }
  .icom-arrow-up-3:before {
    content: "\a90e";
  }
  .icom-arrow-up-2:before {
    content: "\a90f";
  }
  .icom-arrow-right:before {
    content: "\a910";
  }
  .icom-arrow-right-3:before {
    content: "\a911";
  }
  .icom-arrow-right-2:before {
    content: "\a912";
  }
  .icom-arrow-left:before {
    content: "\a913";
  }
  .icom-arrow-left-3:before {
    content: "\a914";
  }
  .icom-arrow-left-2:before {
    content: "\a915";
  }
  .icom-arrow-down:before {
    content: "\a916";
  }
  .icom-arrow-down-3:before {
    content: "\a917";
  }
  .icom-arrow-down-2:before {
    content: "\a918";
  }
  .icom-alarma:before {
    content: "\a919";
  }
  .icom-tiempo:before {
    content: "\a91a";
  }
  .icom-red:before {
    content: "\a91b";
  }
  .icom-awto:before {
    content: "\a91c";
  }
  .icom-1:before {
    content: "\a91d";
  }
  .icom-2:before {
    content: "\a91e";
  }
  .icom-3:before {
    content: "\a91f";
  }
  .icom-billetera:before {
    content: "\a920";
  }
  .icom-documento:before {
    content: "\a921";
  }
  .icom-etiqueta1:before {
    content: "\a922";
  }
  .icom-financiamiento:before {
    content: "\a923";
  }
  .icom-smartphone:before {
    content: "\a924";
  }
  .icom-ventana_persona:before {
    content: "\a925";
  }
  .icom-logo-bch:before {
    content: "\a926";
  }
  .icom-manos-planta:before {
    content: "\a927";
  }
  .icom-mundo-verde:before {
    content: "\a928";
  }
  .icom-panel-solar:before {
    content: "\a929";
  }
  .icom-arrow-circle-left:before {
    content: "\a92a";
  }
  .icom-arrow-circle-right:before {
    content: "\a92b";
  }
  .icom-arrow-circle-up:before {
    content: "\a92c";
  }
  .icom-arrow-circle:before {
    content: "\a92d";
  }
  .icom-bolsa:before {
    content: "\a92e";
  }
  .icom-descuentos:before {
    content: "\a92f";
  }
  .icom-restaurantes:before {
    content: "\a930";
  }
  .icom-cheque:before {
    content: "\a931";
  }
  .icom-auto-seguro:before {
    content: "\a932";
  }
  .icom-check-solid:before {
    content: "\a933";
  }
  .icom-libre-disponibilidad:before {
    content: "\a934";
  }
  .icom-garantia:before {
    content: "\a935";
  }
  .icom-celular-check:before {
    content: "\a936";
  }
  .icom-ubicacion:before {
    content: "\a937";
  }
  .icom-farmacia-cruz-verde:before {
    content: "\a938";
  }
  .icom-ampolleta:before {
    content: "\a939";
  }
  .icom-seguro-pet:before {
    content: "\a93a";
  }
  .icom-maletin:before {
    content: "\a93b";
  }
  .icom-hogar:before {
    content: "\a93c";
  }
  .icom-ambulancia-2:before {
    content: "\a93d";
  }
  .icom-cancer:before {
    content: "\a93e";
  }
  .icom-ambulancia-1:before {
    content: "\a93f";
  }
  .icom-dinero-1:before {
    content: "\a940";
  }
  .icom-dinero-2:before {
    content: "\a941";
  }
  .icom-escudo:before {
    content: "\a942";
  }
  .icom-dinero-3:before {
    content: "\a943";
  }
  .icom-bonificacion:before {
    content: "\a944";
  }
  .icom-farmacia:before {
    content: "\a945";
  }
  .icom-caja-herramientas:before {
    content: "\a946";
  }
  .icom-accidente-auto:before {
    content: "\a947";
  }
  .icom-auto:before {
    content: "\a948";
  }
  .icom-herramientas:before {
    content: "\a949";
  }
  .icom-check:before {
    content: "\a94a";
  }
  .icom-cedula:before {
    content: "\a94b";
  }
  .icom-asegurados:before {
    content: "\a94c";
  }
  .icom-robo-3:before {
    content: "\a94d";
  }
  .icom-robo-2:before {
    content: "\a94e";
  }
  .icom-telefono:before {
    content: "\a94f";
  }
  .icom-robo-1:before {
    content: "\a950";
  }
  .icom-bicicleta-2:before {
    content: "\a951";
  }
  .icom-incendio-1:before {
    content: "\a952";
  }
  .icom-ahorro:before {
    content: "\a953";
  }
  .icom-diagnostico:before {
    content: "\a954";
  }
  .icom-bicicleta-3:before {
    content: "\a955";
  }
  .icom-covid19:before {
    content: "\a956";
  }
  .icom-incendio-2:before {
    content: "\a957";
  }
  .icom-bicicleta-1:before {
    content: "\a958";
  }
  